<div class = "container-fulid">
	<div class = "row">
		<div class = "about">
			<div class = "col-xs-12">
				<div class = "about_text">
					<h1>ようこそ<strong>MountMore</strong>へ</h1>

					みんなの山での景色や体験を投稿して一緒に共有し、<br>「この山いいな登ってみよう」と思え、<br>
					様々な山に対して挑戦したい気持ちの人が増えてほしいという思いで、<br>
					MountMoreと名付けました。
				</div>
			</div>
		</div>
	</div>
</div>