<div class = "container-fulid">
	<div class = "row">
		<div class = "about">
		<div class = "col-xs-12">
<h1>ようこそ<strong>MountMore</strong>へ</h1>
みんなの山での景色や体験を一緒に共有して、「この山いいな登ってみよう」となり様々な山に対して挑戦したい気持ちの人が増えてほしいという思いでMountMoreと名付けました。
</div>
</div>
</div>
</div>