

<div class="modal fade" id="map_search" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h2 class="modal-title-map">地域検索</h2>
<!-- イメージングマップを表示する -->
          <div id="map-container" ></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
</div>

  <!-- イメージングマップのJS -->
<%= javascript_include_tag 'jquery.japan-map.min.js' %>
<%= javascript_include_tag 'japanmap.js' %>