<div class = "container main-image">
	<div class = "row">
<h1>記事検索結果 '<%= params[:search_word] %>' </h1>
		<table class= "table table-hover table-inverse"　>
			<thead>
				<tr>
					<th></th>
					<th>タイトル</th>
					<th>本文</th>
					<th colspan="3"></th>
				</tr>
			</thead>
		<tbody>
			<% @articles.each do |article|%>
				<tr>
         			<td><%= article.title %></td>
         			<td><%= article.body %></td>
         		</tr>
      		<% end %>

		</tbody>
		</table>
	</div>
</div>