<div class = "container main-image">
	<div class = "row">
<h1>記事検索結果 '<%= params[:search_word] %>' </h1>
		<table class= "table table-hover table-inverse"　>
			<thead>
				<tr>
					<th>タイトル</th>
					<th>本文</th>
				</tr>
			</thead>
		<tbody>
			<% @articles.each do |article|%>
				<tr>
         			<td><%=link_to article_path(article.id) do%><%= article.title %><% end %></td>
         			<td><%= article.body.truncate(15) %></td>
         		</tr>
      		<% end %>

		</tbody>
		</table>
	</div>
</div>