/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.html{
	min-height: 100%;
}

.login-box{
	background-image: image-url("yamahukei.jpg");
	height: 800px;
}
.login{
	text-align: center;
	height: 500px;
	margin-top: 250px;
}
.signup-box{
	background-image: image-url("yukiyama.jpg");
}

ul {
  list-style: none;
}

.active{
	padding-left: 5px;
}

.show{
	height: 500px;
}

.main-image{

	height: 500px;
	width: 100%;
  	background-size: cover;
  	margin-top: 100px;
}

.tav{
flex-direction: row-reverse;
}

.top{
	background: rgba(255,255,255,0.5);
	background-image: image-url("headyama.jpg");
	background-size: cover;
	background-position:  bottom;
	background-blend-mode:lighten;
}

.list_login_name{
font-size: 25px;
color: blue;
}

.text{
	height: 200px;
}

.ranking{
	display: flex;
	padding: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid;
	border-color: red;
}

.ranking_outside{
	border-width:5px;
	border-style: outset;
	border-color: yellow;
}

.ranking__aside{
	margin-right: 20px;
	width: 100px;
	height: 100px;
}


  .boxed {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .panelzone > .panel-header {
      padding: 0px;
  }


  .panelzone > .panel-header > img {
      width: 100%;
      height: 100%;
  }

.panel-body{
	height: 150px;
}

.about{
	height: 800px;
	background-image: image-url("about.jpg");
	background-size: cover;
}

.modal-title-map{
	font-weight: bold;
	letter-spacing: 50px;
	color: green;
	text-align: center;
}

.about_text{
	text-align: center;
	line-height: 100px;
	color: blue;
	border-style: groove;
	background: rgba(255,255,255,0.3);
	margin-top: 100px;
}

.footer_head{
	height: 200px;
	background: rgba(255,255,255,0.5);
	background-image: image-url("headyama.jpg");
	background-size: cover;
	background-position:  center;
	background-blend-mode:lighten;
}

.foot{
	text-align: center;
	padding-top: 100px;
}

.panel-footer{
	height: 100px;
}
 #error_explanation{
	width: 600px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0px;
	margin-bottom: 20px;
	margin-left: 100px;
	background-color: #f0f0f0;
	text-align: center;
}

#map{
        height: 400px;
        }
#error_explanation h2{

	font-weight: bold;
	padding:5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

.glyphicon-heart{
	color: red;
}

.glyphicon-heart-empty{
	color: red;
}

.notice {
  color: green;
}
