// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*マスク部分*/
.chart{
	float: left;
	position: relative;
	margin: 20px;
	width: 240px;
	height: 240px;
}

.circle-mask-outer, .circle-mask-inner{
	overflow: hidden;
	position: absolute;
	width: 120px;
	height: 240px;
}

.circle-mask-outer{
	left: 0;
}

.circle-mask-inner{
	right: 0;
}

.circle-mask-inner{
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.circle-mask-outer.left .circle-mask-inner{
	left: 100%;
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.circle-mask-outer.right .circle-mask-inner{
	right: 100%;
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

/*円チャート*/
.circle-body{
	border-radius: 50%;
	position: absolute;
	width: 240px;
	height: 240px;
}

.circle-mask-outer.left .circle-body{
	right: 0;
}

.circle-mask-outer.right .circle-body{
	left: 0;
}

.circle-body{
	background-color: red;
}